<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <style>
      .btn-custom {
        background-color: rgb(82, 189, 166);
        color: rgb(240, 240, 240);
      }
      .btn-custom {
    border-color: rgb(240, 240, 240);
    color: rgb(240, 240, 240);
  }
  .btn-custom:hover {
    background-color: rgb(75, 165, 145);
    color: rgb(240, 240, 240);
  } 
    </style>
    <title>Edit</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <%- include ('partials/navbar', { user: user }); %>
    <!-- NAVBAR END-->
    <br />
    <br />
    <div class="container">
      <!-- VALIDATION ERROR -->
      <%- include ('partials/messages'); %>
      <!-- VALIDATION ERROR-->
      <hr />
      <h1>Edit</h1>
      <hr />
      <form class="needs-validation" action="/dashboard/edit/<%- result._id %>" method="POST" novalidate>
        <div class="form-group">
          <label for="genre">Genre</label>
          <input
            class="form-control"
            name="genre"
            maxlength="10"
            value="<%- result.genre %>"
          />
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input
            class="form-control"
            name="title"
            value="<%- result.title %>"
          />
        </div>

        <div class="form-group">
          <label for="director">Director</label>
          <input
            class="form-control"
            name="director"
            value="<%- result.director %>"
          />
        </div>

        <div class="form-group">
          <label for="release date">Release Date</label>
          <input
            class="form-control"
            name="release date"
            value="<%- result['release date'] %>"
          />
        </div>

        <div class="form-group">
          <label for="producer">Producer</label>
          <input
            class="form-control"
            name="producer"
            value="<%- result.producer %>"
          />
        </div>

        <div class="form-group">
          <label for="rating">Rating</label>
          <input
            class="form-control"
            name="rating"
            placeholder="Enter a number from 1 - 5"
            value="<%- result.rating %>"
          />
        </div>

        <!--Other fields-->
        <br />
        <button type="submit" class="btn btn-custom">Save Changes</button>
      </form>
      <br />
      <a class="btn btn-custom" href="/dashboard" role="button">Back</a>
    </div>

    <!--FOOTER START-->
    <%- include ('partials/footer-post'); %>
    <!--FOOTER END-->

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll(".needs-validation");

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
